@import 'base';
@import "variables";

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;

    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100px;

    background-color: $secondary-color;
    
    #weather-icon{        
        position: relative;
        left: 1vw;
    }

    #unit-icon{
        width: 60px;
        height: 60px;
        position: relative;
        right: 1vw;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .celsius{
        background-image: url('./svgs/celsius_icon.png');
    }
    .fahrenheit{
        background-image: url('./svgs/fahrenheit_icon.png');
    }

    
    #form-search-bar{
        display: flex;
        justify-content: center;  
        align-items: center;     

        #search-bar{
            
            display: flex;
            justify-content: center;
            align-items: flex-end;

            width: 50vw;
            max-width: 500px;
            height: 50px;
            border-radius: 10px;
            font-size: 20px;
            text-align: center;
        }
    }
}


