@import 'base';
@import "variables";

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;

    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100px;

    background-color: $secondary-color;
    
    #weather-icon{        
        position: relative;
        left: 1vw;
    }

    #question-icon{
        position: relative;
        right: 1vw;
    }

    
    #form-search-bar{
        display: flex;
        justify-content: center;  
        align-items: center;     

        #search-bar{
            
            display: flex;
            justify-content: center;
            align-items: flex-end;

            width: 50vw;
            max-width: 500px;
            height: 50px;
            border-radius: 10px;
            font-size: 20px;
            text-align: center;
        }
    }
}


