/* CSS RESET */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Jost&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* CSS RESET */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100px;
  background-color: #1b1b2e;
}
.header #weather-icon {
  position: relative;
  left: 1vw;
}
.header #unit-icon {
  width: 60px;
  height: 60px;
  position: relative;
  right: 1vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.header .celsius {
  background-image: url("./svgs/celsius_icon.png");
}
.header .fahrenheit {
  background-image: url("./svgs/fahrenheit_icon.png");
}
.header #form-search-bar {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header #form-search-bar #search-bar {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 50vw;
  max-width: 500px;
  height: 50px;
  border-radius: 10px;
  font-size: 20px;
  text-align: center;
}

body {
  transition-property: background-image;
  transition-duration: 1s;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(./weather-backgrounds/clear_sky.jpg);
  background-color: #d6d6dd;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#tutorial-text-container {
  transition-property: opacity;
  position: absolute;
  top: 20rem;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0.5;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 50px;
  font-family: "Jost", sans-serif;
  font-size: 3rem;
  text-align: center;
  z-index: -1;
}
.overcastClouds {
  background-image: url("./weather-backgrounds/overcast_clouds.jpg");
}

.scatteredClouds {
  background-image: url("./weather-backgrounds/scattered_clouds.jpg");
}

.fewClouds {
  background-image: url("./weather-backgrounds/few_clouds.jpg");
}

.clearSky {
  background-image: url("./weather-backgrounds/clear_sky.jpg");
}

.mist {
  background-image: url("./weather-backgrounds/mist.jpg");
}

.rain {
  background-image: url("./weather-backgrounds/rain.jpg");
}

.weather-box {
  transition: opacity 0.5s ease, top 1s ease;
  position: relative;
  width: 80vw;
  max-width: 500px;
  min-width: 25vw;
  height: 10vh;
  max-height: 500px;
  min-height: 400px;
  border: solid 10px #1b1b2e;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-family: "Jost", sans-serif;
  font-size: 30px;
  opacity: 0;
  color: #d6d6dd;
  background-color: #1b1b2e;
}
.weather-box .weather-box_header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
  font-weight: 600;
  background-color: #1b1b2e;
}
.weather-box .weather-box_main {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 90%;
  height: 80px;
  padding: 5px;
  border-radius: 3%;
  text-align: center;
  margin-bottom: 10px;
  font-weight: 500;
  color: #1b1b2e;
  background-color: #d6d6dd;
  flex-grow: 0.8;
}
.weather-box .weather-box_main #temperature {
  transition-property: color;
  transition-duration: 1s;
}
.weather-box .very_cold {
  color: rgb(0, 191, 255);
}
.weather-box .cold {
  color: rgb(0, 140, 255);
}
.weather-box .chill {
  color: rgb(0, 38, 255);
}
.weather-box .fridge {
  color: rgb(0, 255, 170);
}
.weather-box .okay {
  color: rgb(217, 255, 0);
}
.weather-box .warm {
  color: rgb(255, 174, 0);
}
.weather-box .hot {
  color: rgb(255, 115, 0);
}
.weather-box .very_hot {
  color: rgb(255, 0, 0);
}

.countryFound {
  position: relative;
  opacity: 1;
  top: 0px;
}

@media (max-width: 300px) {
  .header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background-color: #1b1b2e;
  }
  .header #form-search-bar {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .header #form-search-bar #search-bar {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 250px;
    height: 50px;
    border-radius: 10px;
    font-size: 20px;
    text-align: center;
  }
  .weather-box_main {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 90%;
    height: 80px;
    border-radius: 3%;
    text-align: center;
    margin-bottom: 10px;
    font-weight: 500;
    color: #1b1b2e;
    background-color: #d6d6dd;
    flex-grow: 0.8;
  }
  .weather-box_main #temperature {
    transition-property: color;
    transition-duration: 1s;
  }
  #weather-icon {
    display: none;
  }
  #unit-icon {
    display: none;
  }
}/*# sourceMappingURL=stylesheet.css.map */